body {
    margin: 30px 5%;
    background-color: #eee; /* For browsers that do not support gradients */
    background-image: linear-gradient(#fff, #ddd); /* Standard syntax (must be last) */
}

.col-md-12 {
    display: flex;
    padding: 0 5% 0 0;
}

h3 {
    width: 50%;
}

.fa-grin-stars {
    width: 50%;
    text-align: right;
}

hr {
    padding-right: 10%;
}

#buttonDiv {
    display: inline;
    align-content: left;
}

#loveBtn {
    border-radius: 8px;
    font-size: 30px;
    
    /* height: 60px; */
}

.kudosCard{
    text-align: center;
    width: 100%;
    /* transform: translateX(1.6666%); */
    border-radius: 8px;
}